/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
}
body {
  font-family: sans-serif;
}
/* reset end */
/* utilies */
.container {
  width: 85%;
  margin: 0 auto;
}
.half {
  width: 49%;
  display: inline-block;
  vertical-align: middle;
}
.oneofthird {
  width: 33%;
  display: inline-block;
  vertical-align: middle;
}
.twoofthird {
  width: 66%;
  display: inline-block;
  vertical-align: middle;
}
.button {
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(228, 65, 50);
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  background-color: rgba(233, 179, 175, 0.575);
}
.list-items.active {
  color: rgb(228, 65, 50);
}
.fromright {
  float: right;
}
.clear-fix {
  clear: both;
}
.title {
  color: rgb(228, 65, 50);
  text-transform: capitalize;
  font-size: 18px;
}
.section_title {
  font-size: 35px;
  text-transform: capitalize;
  margin: 25px 0;
}
.text {
  margin: 20px 0;
  color: #696e7b;
  line-height: 20px;
}
.button.white {
  background-color: #fff;
  color: rgb(228, 65, 50);
  padding: 10px 20px;
}
.button.white:hover {
  background-color: rgba(233, 179, 175, 0.575);
}
.white {
  color: #fff;
}
.middle {
  text-align: center;
}
.bolder {
  font-weight: 600;
}
.blacker {
  color: #1a283f;
}
.inline {
  display: inline-block;
}
.auto {
  margin: 0 auto;
}
.top {
  vertical-align: top;
}

/* utilies end */

/* header */
header {
  padding: 20px 0;
}
.list-items {
  display: inline-block;
  padding: 20px;
}
.list-items:hover {
  color: rgb(228, 65, 50);
}
/* header end */
/* hero  */
.hero {
  background-color: #eee;
}
.hero-title {
  font-size: 45px;
  color: #1a283f;
}
.hero-phone {
  font-size: 45px;
  color: rgb(228, 65, 50);
  transition: 0.5s;
}
.hero-address {
  padding: 30px 0;
  display: inline-block;
}
.hero-phone:hover {
  color: #1a283f;
}
.hero-pick {
  width: 275px;
  height: 458px;
}

.button.padding {
  padding: 20px 30px;
  border-radius: 5px;
}
/* hero end */

/* services */
.services {
  margin: 100px 0;
}
.card {
  background-color: #eee;
  margin: 20px 20px 0 0;
  text-align: center;
  padding: 80px 63px;
  border-radius: 10px;
}
.card-img {
  height: 70px;
  width: 70px;
}
.card-title {
  font-weight: 500;
  margin-top: 30px;
  font-size: 25px;
  color: #1a283f;
  transition: 0.5s;
}
.card-title:hover {
  color: rgb(228, 65, 50);
  cursor: pointer;
}

.first_card {
  vertical-align: top;
}
.first_card_inside {
  height: 606px;
  text-align: left;
}

/* services end */

/* about */
.about_right-side {
  margin-left: 80px;
}
.about-lists {
}
.about-list_items {
  color: #1a283f;
  margin-bottom: 10px;
}
.about-list_items {
  font-size: 16px;
}
.about-list_items::before {
  content: "\2713";
  color: rgb(228, 65, 50);
  padding-right: 15px;
  font-weight: 600;
}

/* about end */

/* problems */
.problems {
  background-color: rgb(228, 65, 50);
  padding: 80px 100px;
}
.problems-title {
  text-transform: capitalize;
}

/* problems end */

/* benefits */
.benefits {
  margin: 100px 0;
}
.benefits-title {
  color: #1a283f;
  font-weight: 600;
  margin-top: 30px;
  font-size: 25px;
  color: #1a283f;
  position: relative;
}
.benefits-title::before {
  top: -4px;
  position: absolute;
  content: "\2713";
  color: rgb(228, 65, 50);
  padding-right: 15px;
  font-weight: 600;
  left: -30px;
}
.middle span {
  text-transform: lowercase;
}
.benefits_text_width {
  width: 403px;
}

/* benefits end */

/* projects */
.projects {
  background-color: #eee;
  padding: 100px;
}
.projects-title {
  font-weight: 600;
  font-size: 25px;
}

/* projects end */
/* chat */
.chat {
  margin: 100px 0;
}
.chat-card {
  background-color: #eee;
  width: 49%;
  padding: 50px 40px;
}
.chat-page {
  font-size: 27px;
  color: rgb(228, 65, 50);
  font-weight: 600;
  margin-bottom: 10px;
}
.person {
  margin: 13px 0 0 15px;
  display: inline-block;
  vertical-align: top;
}
.chat-text {
  font-size: 18px;
}
.client {
  margin-top: 4px;
  color: #696e7b;
}
/* chat end*/
/* problems */
.problem_two .button {
  margin: 40px;
  padding: 20px 40px;
  font-size: 20px;
}
/* problems end */

/* footer */
.footer {
  margin: 80px 0 50px 0;
}
.footer-phone {
  display: block;
  font-size: 25px;
  margin-top: 30px;
  transition: 0.5s;
}
.copyright {
  margin-top: 100px;
  font-size: 15px;
}
.footer-phone:hover {
  color: rgb(228, 65, 50);
}
.footer-list-items {
  transition: 0.5s;
  font-weight: 600;
}
.footer-list-items:hover {
  color: rgb(228, 65, 50);
}
.footer-list-items:not(:first-child) {
  margin-top: 25px;
}
/* footer end */
