* {
  font-family: "Varela Round", sans-serif;
  list-style: none;
  text-decoration: none;
}
body {
  width: 80%;
  margin: auto;
  background-color: rgb(138, 123, 123);
}
.body-inside {
  background-color: #fff;
  padding: 50px;
}
#about-title {
  text-align: center;
}
#about-list {
  width: 50%;
  margin: auto;
}
#about-list li {
  transition: 0.5s;
}

#about-img {
  margin-top: 50px;
}
#about-img img {
  width: 100%;
  height: 100%;
}
#about-h2 {
  text-align: center;
}
