* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  max-height: 100%;
}
ul li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: sans-serif;
}
