.container {
  width: 80%;
  margin: 0 auto;
}
.button {
  padding: 15px 30px;
  background-color: #ee5514;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  position: relative;
  z-index: 2;

  p {
    z-index: 3;
    position: relative;
  }
  &::after {
    content: "";
    position: absolute;
    width: 0;
    background-color: #f18f65;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: 1;
    border-radius: 0 5px 5px 0;
    transition: all 0.5s ease;
  }
  &::before {
    content: "";
    position: absolute;
    width: 0;
    background-color: #f18f65;
    height: 100%;
    top: 0;
    right: 49%;
    z-index: 1;
    border-radius: 5px 0 0 5px;
    transition: all 0.5s ease;
  }
  &:hover {
    &::after,
    &::before {
      width: 50%;
    }
  }
}
.active {
  color: #ee5514;
}
.inline-block {
  display: inline-block;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
}
.td {
  text-decoration: underline;
}

