body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4492f4;
  height: 100vh;
}
.fingers {
  display: flex;
  align-items: flex-end;

  .finger_first {
    height: 60px;
    width: 30px;
    background-color: #fff;
    border-radius: 7px 7px 13px 13px;
    animation: toUp 1s ease-out infinite alternate 1s;
    position: relative;

    .line_1 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 5px;
      left: 5px;
      position: relative;
    }
    .line_2 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 12px;
      left: 5px;
    }
    .nail {
      position: absolute;
      height: 20px;
      width: 20px;
      bottom: 5px;
      left: 4px;
      border-radius: 10px 10px 5px 5px;
      background-color: #4492f4;
    }
  }
  .finger_second {
    height: 70px;
    width: 30px;
    background-color: #fff;
    border-radius: 7px 7px 13px 13px;
    animation: toUp 1s ease-out infinite alternate 1.25s;
    position: relative;
    .line_1 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 5px;
      left: 5px;
    }
    .line_2 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 12px;
      left: 5px;
    }
    .nail {
      position: absolute;
      height: 20px;
      width: 20px;
      bottom: 5px;
      left: 4px;
      border-radius: 10px 10px 5px 5px;
      background-color: #4492f4;
    }
  }
  .finger_third {
    height: 80px;
    width: 30px;
    background-color: #fff;
    border-radius: 7px 7px 13px 13px;
    animation: toUp 1s ease-out infinite alternate 1.5s;
    position: relative;
    .line_1 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 5px;
      left: 5px;
    }
    .line_2 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 12px;
      left: 5px;
    }
    .nail {
      position: absolute;
      height: 20px;
      width: 20px;
      bottom: 5px;
      left: 4px;
      border-radius: 10px 10px 5px 5px;
      background-color: #4492f4;
    }
  }
  .finger_fourth {
    height: 70px;
    width: 30px;
    background-color: #fff;
    border-radius: 7px 7px 13px 13px;
    animation: toUp 1s ease-out infinite alternate 1.75s;
    position: relative;
    .line_1 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 5px;
      left: 5px;
    }
    .line_2 {
      position: absolute;
      width: 20px;
      height: 4px;
      background-color: #4492f4;
      border-radius: 2px;
      top: 12px;
      left: 5px;
    }
    .nail {
      position: absolute;
      height: 20px;
      width: 20px;
      bottom: 5px;
      left: 4px;
      border-radius: 10px 10px 5px 5px;
      background-color: #4492f4;
    }
  }

  .finger_fifth {
    transform: rotateZ(90deg) rotateY(20deg);
    width: 30px;
    height: 41px;
    background-color: #fff;
    margin: 0;
    border-radius: 10px 25px 0 0;
    position: relative;
    animation: boshBarmoq 1s ease-out infinite alternate 2.2s;
    top: -7px;
  }
  .finger:not(:first-child) {
    margin-left: 5px;
  }
}

@keyframes toUp {
  0%,
  70% {
    transform: translateY(0) rotateX(0);
  }
  100% {
    transform: translateY(-20px) rotateX(40deg);
  }
}

@keyframes boshBarmoq {
  0%,
  70% {
    transform: translateY(0) rotateZ(90deg);
  }
  100% {
    transform: translateY(-20px) rotateZ(70deg);
  }
}
