.title {
  text-align: center;
  line-height: 100px;
  position: relative;
  &::before {
    content: "";
    width: 50px;
    height: 3px;
    display: inline-block;
    background-color: #5d7fec;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }

  &::after {
    content: "";
    width: 500px;
    height: 3px;
    display: inline-block;
    background-color: #767676;
    position: absolute;
    bottom: 0;
    right: 28%;
  }
}
.cards_little {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  .card {
    height: max-content;
    .card_text {
      padding: 30px 22px 22px 22px;
      .stars {
        margin: 10px 0;
        color: gold;
      }
      .category_list {
        font-size: 15px;
        li span {
          color: #797c7f;
          font-weight: bold;
        }
      }
    }
    .buttons {
      grid-template-columns: 4fr 1fr;

      .price {
        flex-basis: 80%;
        padding: 10px;
      }
      .submit {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;
        &:hover {
          background-color: #ff5248;
          i {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.cards_big {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  .card {
    height: max-content;
    .card_text {
      padding: 30px 22px 22px 22px;
      .stars {
        margin: 10px 0;
        color: gold;
      }
      .category_list {
        font-size: 15px;
        li span {
          color: #797c7f;
          font-weight: bold;
        }
      }
    }
    .buttons {
      grid-template-columns: 4fr 1fr;

      .price {
        flex-basis: 80%;
        padding: 10px;
      }
      .submit {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        transition: all 0.5s ease;
        &:hover {
          background-color: #ff5248;
          i {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}
