@import url(../fonts/style.css);

:root {
  --asosiyRang: #917236;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul li {
  list-style: none;
}

body {
  font-family: "Optima", sans-serif;
}

.container-95 {
  width: 95%;
  margin: 0 auto;
}
header {
}
/* navbar start  */
.navbar {
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
}
.navbar ul li {
  display: inline-block;
  color: var(--asosiyRang);
}
.navbar ul li:not(:last-child) {
  margin-right: 25px;
}
.navbar ul li a {
  font-size: 15px;
  letter-spacing: 1.1px;
  vertical-align: bottom;
}
.navbar ul li i {
  vertical-align: bottom;
}
.navbar ul li .rotated1 {
  transition: 0.5s;
  vertical-align: top;
  transform: rotate(180deg);
}
.navbar ul .intl {
  position: relative;
}
.navbar ul .intl .countries {
  width: 200px;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 0;
  top: 35px;
  height: 80vh;
  overflow: auto;
  padding: 10px 20px;
  box-shadow: -10px 0 10px #ececec;
  background: #fff;
  z-index: 1000;
}
.countriesShow {
  display: flex !important;
}
.deleteRotate {
  transform: rotate(0deg) !important;
  vertical-align: bottom !important;
}
.navbar ul .intl .countries li {
  margin: 0;
}
.navbar ul .intl .countries li:not(:first-child) {
  margin-top: 15px;
}
/* navbar start end */

/* middle header start */
.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.middle-header .logo {
  width: 179px;
  height: 69px;
}
.middle-header .logo img {
  height: 100%;
  width: 100%;
}
.middle-header form {
  width: 350px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--asosiyRang);
}
.middle-header form input {
  width: 90%;
  padding: 10px 0 0 0;
  vertical-align: bottom;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
.middle-header form i {
  vertical-align: bottom;
  font-size: 1.2rem;
  color: var(--asosiyRang);
}
.middle-header .location-header {
  font-size: 1.2rem;
  color: var(--asosiyRang);
}
/* middle header end */

/* bottom header start */
.bottom-header {
  margin: 15px 0;
  position: relative;
}
.bottom-header-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bottom-header-list li {
  margin: 0 15px;
  color: var(--asosiyRang);
  font-weight: 500;
}
.bottom-header-list li i {
  transform: rotate(180deg);
  margin-left: 10px;
  transition: 0.5s;
}

.bottom-header-chocolate .chocolate-link {
  padding: 30px 0;
}

.bottom-header-chocolate:hover .world-lists {
  display: flex;
}
.bottom-header-chocolate:hover .world {
  transform: rotate(0deg) !important;
}

.world-lists {
  width: 100%;
  position: absolute;
  display: none;
  justify-content: space-between;
  top: 33px;
  background: #fff;
  padding: 30px 20px;
  border-top: 1px solid #eee;
  left: 0;
  z-index: 20;
}

.world-lists .title {
  margin-bottom: 15px;
  font-weight: 600;
  color: #313131;
}
.world-lists li:not(.title) {
  padding: 10px 0;
  color: #424242;
  font-size: 15px;
  letter-spacing: 0.8;
}
.world-lists li a {
  transition: 0.5s;
}
.world-lists li a:hover {
  color: var(--asosiyRang);
}

.world-lists li a {
  transition: 0.5s;
}
.world-lists li a:hover {
  color: var(--asosiyRang);
}

.lindt:hover .chocolate {
  transform: rotate(0deg);
}
.lindt .lindt-link {
  padding: 30px 0;
}
.lindt .lindt-lists {
  width: 100%;
  position: absolute;
  display: none;
  justify-content: space-between;
  top: 33px;
  background: #fff;
  padding: 30px 0;
  border-top: 1px solid #eee;
  left: 0px;
  z-index: 20;
}

.lindt-lists .title {
  margin-bottom: 15px;
  font-weight: 600;
  color: #313131;
}
.lindt-lists li:not(.title) {
  padding: 10px 0;
  color: #424242;
}
.lindt-lists li a {
  transition: 0.5s;
}
.lindt-lists li a:hover {
  color: var(--asosiyRang);
}

.lindt-lists li a {
  transition: 0.5s;
}
.lindt-lists li a:hover {
  color: var(--asosiyRang);
}

.lindt:hover .lindt-lists {
  display: flex;
}
.burger-menu {
  display: none;
}

/* bottom header end */

/* showcase start */
.container-fluid {
  width: 100%;
}
.slides {
  position: relative;
  height: 100vh;
}
.slide-img {
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: 1s;
  z-index: -1;
}

.showImage {
  opacity: 1 !important;
  z-index: 2;
}
.slide-img-1 {
  background-image: url(../img/Hero-Banner-Desktop_1440x800_2.jpg);
  height: 100vh;
}
.slide-img {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
.slide-img .text-wrapper {
  margin-left: 50px;
}
.slide-img .text-wrapper h1 {
  font-size: 2.4rem;
  letter-spacing: 1.2px;
  font-weight: 300;
}
.slide-img .text-wrapper p {
  margin: 30px 0 20px 0;
}
.showcaseButton {
  background-color: transparent;
  padding: 15px 50px;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  margin-top: 30px;
  position: relative;
}
.showcaseButton:hover {
  cursor: pointer;
}

.showcaseButton::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: var(--asosiyRang);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transition: 0.5s;
  opacity: 0;
}
.showcaseButton::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: var(--asosiyRang);
  position: absolute;
  z-index: -1;
  top: 0;
  right: 50%;
  transition: 0.5s;
  opacity: 0;
}
.showcaseButton:hover::before {
  width: 50%;
  opacity: 1;
}
.showcaseButton:hover::after {
  width: 50%;
  opacity: 1;
}
.slide-img-2 {
  background-image: url(../img/second-showcase.jpg);
  height: 100vh;
}
.slide-img-3 {
  background-image: url(../img/third-showcase.jpg);
  height: 100vh;
}
.slide-img-4 {
  background-image: url(../img/fourth-showcase.jpg);
  height: 100vh;
}
.slides .radios {
  position: absolute;
  bottom: 50px;
  left: 50px;
  z-index: 3;
}
.slides .radios span {
  display: inline-block;
  margin: 0 5px;
  height: 10px;
  width: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}
.radioChecked {
  background-color: #fff;
  transition: 0.5s;
}
.title {
  margin: 20px 0;
  text-align: center;
  color: var(--asosiyRang);
  font-weight: 300;
}
/* showcase end*/

/* explore start */
.explore-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
.explore-cards img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  position: absolute;
}
.explore-cards .img-wrapper:hover img {
  transform: scale(1.1);
}
.explore-cards .img-wrapper {
  overflow: hidden;
  position: relative;
  height: 313px;
}
.cardButton {
  position: absolute;
  bottom: 40px;
  left: 60px;
  z-index: -1;
}
.explore-cards .img-wrapper:hover .cardButton {
  z-index: 2;
}
.card-title {
  cursor: pointer;
}
.card-title:active {
  text-decoration: underline;
}
/* explore end*/

/* bestsellers start */
.container-90 {
  width: 90%;
  margin: 0 auto;
}
.bestsellers {
  margin-top: 100px;
}
.list-wrapper {
  text-align: center;
}
.bestseller-list {
  display: inline-block;
  border: 2px solid #b3b3b3;
}
.bestseller-list li {
  display: inline-block;
  color: #b3b3b3;
  padding: 10px 40px;
  position: relative;
  cursor: pointer;
}
.active {
  color: var(--asosiyRang) !important;
  border: 3px solid var(--asosiyRang);
}

.bestseller-cards-all {
  margin-top: 50px;

  overflow: hidden;
}
.bestseller-cards-all .card-wrapper {
  width: 230px;
  height: 230px;
  display: inline-block;
  margin: 0 40px;
}
.bestseller-cards-inside {
  width: calc(230 * 40px);
}

/* bestsellers end */

/* story start */
.story {
  background-color: #eee;
  padding: 70px 0;
}
.story-inside {
  background-color: #fff;
}
.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.top img {
  width: 100%;
}
.top .text-wrapper {
  padding: 100px;
}
.bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.bottom img {
  width: 100%;
}
.bottom .text-wrapper {
  padding: 100px;
}
.buttonDark {
  color: #000;
  border-color: #000;
}
.buttonDark:hover {
  background-color: var(--asosiyRang);
  color: #fff;
}

.bake-location {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 30px;
}
.bake {
  background-image: url(../img/Bake-with-Us-gradient-650x450.jpg);
  height: 450px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}
.location {
  background-image: url(../img/locations_bg.jpg);
  height: 450px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.everything {
  height: 500px;
  background-image: url(../img/everything_bg.jpg);
  margin-top: 20px;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 30px;
}
.everything .text p {
  margin: 20px 0;
}
.follow-images img {
  width: 100%;
  height: 100%;
}
.follow-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.follow-images > div {
  overflow: hidden;
}
.follow-images img {
  transition: 0.5s;
}
.follow-images img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.follow-images .img-2 {
  grid-row: 1 / span 2;
  grid-column: 2 / span 2;
}
.follow-images .img-3 {
  grid-row: 1 / span 2;
  grid-column: 4 / span 2;
}
/* story end */

/* footer start */
footer {
  margin-top: 100px;
  background-color: #eee;
  padding: 50px 0;
}
.footer-lists {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footertitle {
  text-align: left !important;
}
.footer-lists li:not(.title) {
  margin-top: 20px;
}
/* footer end */
.burger-lists {
  display: none;
}

@media (max-width: 1162px) {
  .explore-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .explore-cards .img-wrapper {
    height: 422px;
  }
  .top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
  }
  .everything {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-lists {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1000px) {
  .follow-images {
    grid-template-columns: repeat(3, 1fr);
  }
  .follow-images .img-2 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  .follow-images .img-3 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }
  form {
    display: none;
  }
  .bake-location {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .bottom-header {
    display: none;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 50px;
    position: relative;
  }
  .burger-menu span {
    height: 2px;
    width: 100%;
    background-color: var(--asosiyRang);
    display: inline-block;
  }
  .burger-transform .line-1 {
    transform: rotate(-45deg) translate(10px, 20px);
  }
  .burger-transform .line-2 {
    display: none;
  }
  .burger-transform .line-3 {
    transform: rotate(45deg) translate(4px, -26px);
  }
  .slides {
    margin-top: 50px;
  }
  .burger-lists {
    display: none;
    position: relative;
  }
  .bottom-header-list {
    position: absolute;
    flex-direction: column;
    width: 97vw;
    height: 90vh;
    z-index: 1000000;
    background-color: #fff;
    left: 2.5px;
  }
  .bottom-header-list li {
    padding: 20px 0;
  }
  .burgershow {
    display: block !important;
  }
  .slide-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .slide-img .text-wrapper {
    margin-left: 0;
    padding: 30px;
  }
  .bestsellers {
    display: none;
  }
}
@media (max-width: 700px) {
  .explore-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardButton {
    position: absolute;
    bottom: 40px;
    left: 105px;
    z-index: -1;
  }
  .follow-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-lists {
    grid-template-columns: repeat(1, 1fr);
  }
}
