* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.button {
  padding: 15px 30px;
  background-color: #ee5514;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  position: relative;
  z-index: 2;
}
.button p {
  z-index: 3;
  position: relative;
}
.button::after {
  content: "";
  position: absolute;
  width: 0;
  background-color: #f18f65;
  height: 100%;
  top: 0;
  left: 50%;
  z-index: 1;
  border-radius: 0 5px 5px 0;
  transition: all 0.5s ease;
}
.button::before {
  content: "";
  position: absolute;
  width: 0;
  background-color: #f18f65;
  height: 100%;
  top: 0;
  right: 49%;
  z-index: 1;
  border-radius: 5px 0 0 5px;
  transition: all 0.5s ease;
}
.button:hover::after, .button:hover::before {
  width: 50%;
}

.active {
  color: #ee5514;
}

.inline-block {
  display: inline-block;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
}

.td {
  text-decoration: underline;
}

.nav_list_burger li, .footer a, .gallery .container .list_wrapper .gallery_list li, header nav .flex ul li {
  transition: color 0.5s ease;
}
.nav_list_burger li:hover, .footer a:hover, .gallery .container .list_wrapper .gallery_list li:hover, header nav .flex ul li:hover {
  color: #ee5514;
}

header {
  position: relative;
}
header::before {
  content: "";
  height: 100%;
  width: 62%;
  background: #f8dccf;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
header::after {
  content: "";
  height: 100%;
  width: 20%;
  background-image: linear-gradient(to right, #f8dccf, #fdede9);
  position: absolute;
  top: 0;
  right: 344px;
  z-index: -1;
  transform: skewX(-15deg);
}
header nav {
  position: relative;
  padding-top: 40px;
}
header nav .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .flex ul li {
  display: inline-block;
  padding: 0 20px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
header .showcase {
  margin-top: 32px;
}
header .showcase .showcase_inside {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
}
header .showcase .showcase_inside .showcase_text .showcase_title {
  width: 366px;
  font-family: "Source Serif Pro", serif;
  font-size: 61px;
}
header .showcase .showcase_inside .showcase_text .showcase_title span {
  color: #ee5514;
}
header .showcase .showcase_inside .showcase_text .showcase_subtitle {
  color: #1a0a03;
  width: 326px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
header .showcase .showcase_inside .showcase_img {
  position: relative;
}
header .showcase .showcase_inside .showcase_img .dots {
  height: 120px;
  width: 120px;
  position: absolute;
  background-image: url(../img/Ellipse.png);
  left: 108px;
  top: 10px;
}
header .showcase .showcase_inside .showcase_img img {
  z-index: 2;
  position: relative;
}
header .showcase .showcase_inside .showcase_img::before {
  content: "";
  height: 100%;
  width: 60%;
  border: 10px solid #f8b79b;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
header .showcase .showcase_inside .showcase_img::after {
  content: ">";
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fdeee7;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-weight: 300;
  font-family: sans-serif;
  font-size: 50px;
  cursor: pointer;
}

.setProduct_wrapper {
  display: flex;
  justify-content: center;
}
.setProduct_wrapper .setProduct {
  margin-right: 240px;
  padding: 30px 55px;
  height: 100px;
  width: 700px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(-50px);
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.068);
}
.setProduct_wrapper .setProduct > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: inline-block;
}
.setProduct_wrapper .setProduct > div:not(:first-child) {
  border-left: 1px solid #ee5514;
  padding-left: 20px;
}
.setProduct_wrapper .setProduct > div b {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #1a0a03;
}
.setProduct_wrapper .setProduct > div p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #1a0a03;
  position: relative;
}
.setProduct_wrapper .setProduct > div p span {
  color: #ee5514;
  vertical-align: bottom;
}

.video {
  margin: 50px 0;
}
.video .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
}
.video .grid .video_text_wrapper h1 {
  font-family: "Source Serif Pro", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  margin: 10px 0 20px 0;
}
.video .grid .video_text_wrapper .video_text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  width: 326px;
}

.feature {
  margin: 100px 0;
  text-align: center;
  font-family: "Source serif Pro", sans-serif;
}
.feature .card_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px 0;
  grid-gap: 30px;
}
.feature .card_wrapper .card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 39px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.061);
}
.feature .card_wrapper .card .img_wrapper {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  display: inline-block;
  background-color: #e7f0fc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature .card_wrapper .card .card_title {
  margin: 38px 0 10px 0;
  font-family: "Source serif Pro", sans-serif;
}
.feature .card_wrapper .card .card_text {
  margin-bottom: 20px;
  font-family: "Poppins";
}

.gallery {
  margin: 100px 0;
}
.gallery .container > h1 {
  margin: 15px 0;
  font-family: "Source Serif Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
}
.gallery .container .list_wrapper {
  display: flex;
  justify-content: space-between;
}
.gallery .container .list_wrapper .gallery_list span {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}
.gallery .container .list_wrapper .gallery_list li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  padding: 0 25px;
}
.gallery .container .list_wrapper .buttons {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.gallery .container .list_wrapper .buttons .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fdeee7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery .container .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-items: center;
}

.testimonials {
  margin: 100px 0;
}
.testimonials > h1 {
  text-align: center;
}
.testimonials .grid {
  grid-gap: 20px;
  margin-top: 50px;
}
.testimonials .grid img {
  height: 80%;
}
.testimonials .grid .testimonial_text {
  padding: 50px;
  position: relative;
}
.testimonials .grid .testimonial_text .dot {
  position: absolute;
  top: 153px;
  left: 72px;
}
.testimonials .grid .testimonial_text .dot2 {
  position: absolute;
  top: 153px;
  left: 100px;
}
.testimonials .grid .testimonial_text h2 {
  font-family: "Source Serif Pro", serif;
  font-size: 40px;
}
.testimonials .grid .testimonial_text p {
  font-family: "Source Serif Pro", serif;
}
.testimonials .grid .testimonial_text h4 {
  font-family: "Poppins", sans-serif;
}
.testimonials .grid .testimonial_text .buttons {
  position: absolute;
  top: 38px;
  right: 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.testimonials .grid .testimonial_text .buttons .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fdeee7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter {
  margin: 50px 0;
}
.newsletter .newsletter_inside {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.newsletter .newsletter_inside .newsletter_text {
  background-color: #f2f6fb;
  padding: 50px;
  height: 334px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.newsletter .newsletter_inside .newsletter_text form input {
  padding: 15px;
  border: none;
}
.newsletter .newsletter_inside .newsletter_text form .border_none {
  border: none;
}

.footer {
  background-color: #fef8f6;
  padding: 30px 0;
}
.footer .footer_inside {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}
.footer .footer_inside .links i {
  font-size: 30px;
  margin: 0 5px;
}
.footer form input {
  padding: 15px;
  border: none;
  background-color: #eee;
}
.footer form .border_none {
  border: none;
}

.copyright {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
}

.nav_list_burger {
  transform: translateX(-100%);
  transition: all 0.5s ease;
  position: absolute;
  height: 100%;
  background-color: #c9c2c2;
  width: 300px;
  padding: 50px;
  z-index: 1000;
  top: 0;
}
.nav_list_burger li {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
}

@media (max-width: 999px) {
  .nav_list {
    display: none;
  }
  .nav_list + .button {
    display: none;
  }

  .burger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25px;
    width: 50px;
    cursor: pointer;
  }
  .burger_menu span {
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all 0.5s ease;
  }
  .burger_menu.transform .line_1 {
    transform: rotate(-45deg) translate(-16px, 17px);
  }
  .burger_menu.transform .line_2 {
    transform: scale(0);
  }
  .burger_menu.transform .line_3 {
    transform: rotate(45deg);
  }

  .nav_list_burger.show {
    transform: translate(0);
    transition: all 0.5s ease;
  }

  header .showcase .showcase_inside {
    justify-items: center;
    grid-gap: 50px;
  }

  .setProduct_wrapper .setProduct {
    margin-right: 0;
  }

  header::before {
    display: none;
  }

  header::after {
    display: none;
  }

  header {
    background-color: #f8dccf;
  }

  .video .grid {
    justify-items: center;
  }

  .feature .card_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery .container .cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
  }

  .testimonials .grid .big_img {
    width: 100%;
  }

  .newsletter .newsletter_inside {
    grid-template-columns: repeat(1, 1fr);
  }

  .newsletter .newsletter_inside img {
    width: 100%;
  }

  .footer .footer_inside {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 800px) {
  .feature .card_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery .container .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .gallery .container .list_wrapper .buttons {
    display: none;
  }

  .testimonials .grid .testimonial_text .buttons {
    display: none;
  }

  .footer .footer_inside {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 700px) {
  .setProduct_wrapper {
    display: none;
  }
}
@media (max-width: 600px) {
  .gallery .container .list_wrapper .gallery_list {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
