:root {
  --asosiy: rgb(255 194 112);
}

.container-sp {
  width: 98%;
  margin: 0 auto;
}

.active {
  color: var(--asosiy) !important;
}

header .nav-items:hover {
  text-decoration: underline !important;
}
header .icons {
  font-size: 1rem;
}
header .icons:not(:last-child) {
  margin: 0 20px 0 0;
}
header .icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.2em;
  border: 1px solid #000;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s;
}
header .icons a:hover {
  background-color: var(--asosiy);
  border-color: var(--asosiy);
}
header .icons a:hover i {
  color: #fff !important;
}
header .search-form {
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 30px !important;
}
header .search-form .form-select {
  cursor: pointer;
  position: relative;
  padding: 5px 5px 5px 20px !important;
  width: 10% !important;
  display: inline-block !important;
}
header .search-form #search-input {
  border-radius: 0;
  width: 100% !important;
  border: none;
  outline: none;
  background-color: whitesmoke;
  padding: 5px !important;
}
header .search-form #search-input:focus {
  border-top: 1px solid var(--asosiy);
  border: 1px solid var(--asosiy);
  background-color: #fff;
}
header .search-form #search-submit {
  height: 100%;
  padding: 5px 5px 5px 5px !important;
  border: none;
  position: relative;
  background-color: var(--asosiy);
  border-radius: 0 30px 30px 0 !important;
}
header .search-form #search-submit::after {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  color: #000;
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 20px;
}
header .icon {
  transition: 0.3s;
}
header .icon:hover {
  color: var(--asosiy) !important;
}
header #cart {
  position: relative;
}
header #cart .number {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px;
  background-color: var(--asosiy);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}

.site-navbar .list-items:hover {
  text-decoration: underline !important;
}

.showcase {
  background-image: url(../img/showcase.jpg);
  background-position: center center;
  background-size: cover;
}
.showcase .shopverify:hover {
  background-color: #545454 !important;
  border-color: #545454;
}

.products .sale {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50%;
  position: absolute;
  background-color: var(--asosiy);
  width: 40px;
  height: 40px;
  top: -10px;
  right: -10px;
}
.products .wrapper {
  position: relative;
  transition: all 0.3s;
}
.products .wrapper:hover {
  top: -5px;
}
.products .wrapper .whitebg {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  opacity: 0;
}
.products .wrapper .whitebg:hover {
  opacity: 0.2;
}

.footer .wordpress:hover {
  text-decoration: underline !important;
  color: var(--asosiy) !important;
}

.mobile-nav {
  display: none;
}

.show {
  display: block !important;
}

.mobile-menu {
  display: none;
  background-color: #000000f0 !important;
  height: 100% !important;
  overflow-y: auto;
}
.mobile-menu::-webkit-scrollbar {
  display: none;
}
.mobile-menu .span-wrapper {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.mobile-menu .span-wrapper .line-1 {
  height: 2px;
  width: 50px;
  background-color: #fff;
  display: inline-block;
  transform: rotate(45deg) !important;
  position: absolute;
  left: 0 !important;
}
.mobile-menu .span-wrapper .line-2 {
  height: 2px;
  width: 50px;
  background-color: #fff;
  display: inline-block;
  transform: rotate(-45deg) !important;
  position: absolute;
  left: 0 !important;
}
.mobile-menu .search-form_mobile {
  background-color: whitesmoke;
  overflow: hidden;
  border-radius: 30px !important;
}
.mobile-menu .search-form_mobile .form-select {
  cursor: pointer;
  position: relative;
  padding: 5px 5px 5px 20px !important;
  width: 10% !important;
  display: inline-block !important;
  width: 100px !important;
  border: none !important;
}
.mobile-menu .search-form_mobile #search-input {
  border-radius: 0;
  width: 100% !important;
  border: none;
  outline: none;
  background-color: whitesmoke;
  padding: 5px !important;
}
.mobile-menu .search-form_mobile #search-input:focus {
  border-top: 1px solid var(--asosiy);
  border: 1px solid var(--asosiy);
  background-color: #fff;
}
.mobile-menu .search-form_mobile #search-submit {
  height: 100%;
  padding: 5px 5px 5px 5px !important;
  border: none;
  position: relative;
  background-color: var(--asosiy);
  border-radius: 0 30px 30px 0 !important;
}
.mobile-menu .search-form_mobile #search-submit::after {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  color: #000;
  font-weight: 900;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.block {
  overflow: hidden !important;
}

@media (max-width: 1250px) {
  .search-form {
    display: none !important;
  }
}
@media (max-width: 800px) {
  .site-navbar {
    display: none;
  }
}
@media (max-width: 767px) {
  .person-cart {
    display: none !important;
  }

  .mobile-nav {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
