/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-600 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v15-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin_cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none  ;


}




  /*site-hader start*/

    .container{
      width: 1300px;
      margin: 0 auto;

    } 
    .site-header-container{
      width: 1300px;
      position: fixed;
    }
    .site-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
    }
    .shadow{
      box-shadow: 0px 8px 10px 5px rgba(16, 38, 61, 0.15);
      margin: 0;
    }
    .site-link{
      display: flex;
     width: 540px;
      justify-content: space-between;
    }
    .site-link__items a{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 130%;
      align-items: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #191918;
    }
    .site-link__items a:hover{
      color: #336699;
    }
    .site-header__call{
      display: flex;
      width: 400px;
      justify-content: space-between;
    }
    .site-header__number a{
      align-self: center;
      color: #1D67B0;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 130%;
    }
    .site-header__btn a{
      background: rgba(51, 102, 153, 0.17);
      border-radius: 50px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 145%;
      text-transform: uppercase;
      padding: 8px 10px;
      color: #343330;
      transition: 0.5s;
    }
    .site-header__btn a:hover{
      background-color: #336699;
      color: #fff;
    }
    .site-header__basket{
      position: relative;
     
    }
    .navbar-basket-item{
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      position: absolute;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      background-color: #336699;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      top: -3px;
      right: -15px;
    }
  /*site-hader end*/

   /*section start*/
  .wrapper{
    background: url('/img/background.jpg') no-repeat;
    background-size:cover;
    height: 890px;
    width: 100%;
    display: flex;
   
  }
  .section{
    margin-top: 160px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
  }
  .section-text{
    margin-left: 30px;
    width: 660px;
    display: flex;
    flex-direction: column;
  }
  .section__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #343330;
    text-shadow: 3px 5px 10px rgba(106, 106, 90, 0.2);
    text-align: center;
    margin-bottom: 65px;
  }
  .section__subtitle{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #343330;
    text-shadow: 3px 5px 10px rgba(106, 106, 90, 0.2);
    width: 650px;
    text-align: center;
    margin-bottom: 55px;  
  }
  .section__btn{
    padding: 15px 35px;
    background: #336699;
    border-radius: 50px;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: none;
    width: 270px;
    align-self: center;
  }
  .section__btn:hover{
    cursor: pointer;
  }
  
    /*section end*/


    .section-about{
      margin-top: 75px; 
    }
    .our-product__title{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 55px;
    }
    .our-product__subtitle{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      color: rgba(25, 25, 24, 0.74);
    }
    .bolder{
      color: #333;
      font-weight: 700;
    }
    .abuot-us{
      margin-top: 65px;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2,1fr);
    }
    .abuot-us img{

    }
    .about-us__text{

      align-self: center;
     
    }
    .about-us__title{
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 130%;
      align-items: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #191918;
      width: 850px;
    }
    .about-us__subtitle{
      margin-top: 50px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: rgba(25, 25, 24, 0.79);
    }
    .about-us__btn{
      margin-top: 70px;
      padding: 15px 45px;
      background: #336699;
      border-radius: 50px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 145%; 
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
      cursor:pointer;
    }
    .site-header__margin{
      margin-top: 10px; 
    }
    .collection__title{
      margin: 75px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #191918;
      text-align: center;
    }
    .collection__cards{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      grid-gap: 20px 2px;
  
    }
    .cards{
      transition: 0.5s;
   
    }
    .cards:hover{
      opacity: 0.1;
      cursor: pointer;
     
    }
    .card_1,.card_2,.card_3,.card_4,.card_5,.card_6,.card_7,.card_8{
      position: relative;
    }
    .textcard{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 130%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #191918;
      width: 100%;
      text-align: center;
      transition: 0.5s;
      z-index: -1;
    }
    .subscribe{
      margin-top: 160px;
      background-color: #F8F8F7;

    }
    .subscribe__text{
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 170%;
      text-align: center;
      letter-spacing: 0.03em;
      color: #191918;
      width: 1000px;
      text-align: center;
      margin: 0 auto;
      padding-top: 50px;
    }
    .inputs{
      padding-top: 55px;
      padding-bottom: 45px;
      display: flex;
      width: 900px;
      justify-content: space-between;
      margin: 0 auto;
    }
    .subscribe__input{
      width: 550px;
      padding: 15px;
      border-radius: 30px;
      border: 1px solid #336699;
      background-color: transparent;
      outline: none;
      padding-left: 30px;
    }
    .subcribe__submit{
      padding: 13px 100px;
      background: #336699;
      border-radius: 50px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 145%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #FFFFFF;
    }


    /* sale section start*/
    .sale__title{
      padding: 100px 0 60px 0;
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 40px;
      line-height: 130%;
      letter-spacing: 0.03em;
      text-transform: uppercase;  
      color: #191918;
    }
    .sale__cards{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }

   .sale__card-1,.sale__card-2,.sale__card-3{
     width: 430px;
     height: 570px;
     background-color: #F8F8F7;
     border-radius: 30px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     position: relative;
   }
   .sale__text{
     height: 150px;
     width: 390px;
     padding-left: 20px;
     margin-bottom: 50px;
   }
   .sale__text-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(25, 25, 24, 0.8);
    width: 390px;
    padding-bottom: 50px;
   }
   .sale__text-prices{
     display: flex;
     align-items: center;
   }
   .old-price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: rgba(25, 25, 24, 0.72);
    margin-top: 3px;
    position: relative;
   }
  .old-price::before{
    content: '';
    width: 105%;
    height: 2px;
    background-color: #336699;
    display: block;
    position: absolute;
    top: 36%;
    left: -4px;
    transform: rotate(7deg);
  }
  .new-price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #191918;
    padding-left: 20px;
  }
  .sale___text-gotoshop{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: rgba(51, 102, 153, 0.8);
  }
  .sale___text-gotoshop a{
    display: block;
    margin-top: 12px;
  }

  .sale__img_1 img{
    position: absolute;
    top: 60px;
    left: 20px;
  }
  .sale__img_2 img{
    position: absolute;
    top: 40px;
    left: 81px;
  }
  .sale__img_3 img{
    position: absolute;
   top: 40px;
   left: 100px;
  }

  .sale_svg{
    height: 30px;
    width: 68px;
    margin-top: 28px;
    margin-left: 35px;
    z-index: 1000;
  }

   /* sale section end*/


   .write-me__instagram{
     margin-top: 160px;
     display: flex;
     align-items: center;
     padding-bottom: 45px;
   }
   .instagram_nicname{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    color: #336699;
    padding-left: 12px;
   }
   .write-me__imgs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 20px;
   }
   .write-me__img-1 img{
     width: 610px;
     height: 675px;
   }
 
   .write-me__img-2{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     grid-gap: 20px;

   }
   .horse_1{
     width: 320px;
     height: 323px;
   }
   .horse_2{
     width: 320px;
     height: 323px;
   }
   .cat_1{
     width: 320px;
     height: 324px;
   }
   .cat_2{
     width: 320px;
     height: 323px;
   }
   .write-me__text-1{
     margin-top: 160px;
     text-align: center;
     font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 180%;
    letter-spacing: 0.03em;
    color: #191918;
    text-shadow: 3px 5px 10px rgba(106, 106, 90, 0.2);
   }
   .write-me__text-2{
     margin-top: 44px;
     font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 180%;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

   }
   .write-me__text-2 a{
    color: #191918;
    text-shadow: 3px 5px 10px rgba(106, 106, 90, 0.2);
   }



   .footer{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
   }
 .left__list{
    border-top: 1px solid #191918;
    padding-top: 10px;
    display: flex;
 }
 .left__item a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(25 25 24);
 }
 .left__item:not(:first-child){
   padding-left: 15px; 
 }
 .left__text-1{
   margin-top: 40px;
   font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: rgba(25, 25, 24, 0.7);
}
.left__text-2{
  margin-top: 20px;
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  letter-spacing: 0.03em;
  color: rgba(25, 25, 24, 0.7);
}
.reserved{
  margin-left: 30px;
}
.social_media{
  width: 95px;
  margin:0 20px;
}
.social_media img:not(:first-child){
  margin-left: 11px;
}

.right__list{
  display: flex;  
  border-top: 1px solid #191918;
  padding-top: 10px;
}
.right__item a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(25, 25, 24, 0.8);
  
}
.right__item:not(:first-child){
  margin-left: 12px;
}
.right__subscribe{
  display: inline-block;
  margin-top: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000;
}

#footer__input{
background: #FFFFFF;
border: 1px solid #191918;
box-sizing: border-box;
border-radius: 30px;
padding: 20px 55px;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 145%;
letter-spacing: 0.05em;
color: rgba(25, 25, 24, 0.4);
width: 430px;
}
#footer__input:focus{
  color: #000;
  font-weight: bold;
  outline: none;
}
.right__btn{
  background: #FFFFFF;
  border: 1px solid #191918;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 145%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #191918;
  padding: 20px 30px;
  transform: translateX(436px);

}
.right__btn:hover{
  background: #336699;
  box-shadow: 0px 8px 10px rgba(19, 62, 106, 0.3);
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  border: none;
  outline: none;
}
@media(max-width:320px){
  .site-header__logo{
    height: 30px;
    width: 130px;
  }
  .site-header__logo{

    padding-left: 10px;
    padding-top: 15px;
  }
  .site-link{
    display: none;
  }
  .site-header__call{
    display: block;
  }

  .site-header__call{
    display: none;
  }
  .site-header__basket{
    display: block;
    position: absolute;
    left: 205px;
    top: 32px;
  }
  .burger{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 29px;
    width: 39px;
    top: 34px;
    left: 266px;

  }
  .line-1{
    background-color: #336699;
    height: 3px;
    width: 100%;
  }
  .line-2{
    background-color: #336699;
    height: 3px;
    width: 100%;
  }  .line-3{
    background-color: #336699;
    height: 3px;
    width: 100%;
  }

  .section-img img{
    width: 175px;
    height: 190px;
    margin-left: 70px;
  }
  .section__title{
    width: 290px;
    height: 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #343330;
    text-shadow: 3px 5px 10px rgba(106, 106, 90, 0.2);
    margin-bottom: 0;
  }
  .section__subtitle{
    width: 290px;
    height: 98px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #343330;
    text-shadow: 3px 5px 10px rgba(106, 106, 90, 0.2);
    margin-bottom: 0;
  }
  .section__btn{
    
  }

  .section{
    grid-template-columns:repeat(1,1fr);
  }
  .section-text{
    order: 2;
    margin-left: 0;
   
  }
  .section-img{
    order:1;
  }
}




